* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  background: lightblue; /* delete later */
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}

.logo-container {
  background: lightblue; /* delete later */
  flex: 1;
}
nav {
  background: rgb(189, 230, 173); /* delete later */
  flex: 2;
}
.cart {
  background: rgb(156, 37, 21); /* delete later */
  flex: 1;
}
