* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  background: lightblue; /* delete later */
  width: 90%;
  margin: auto;
}

.logo-container {
  background: lightblue;
}
nav {
  background: rgb(189, 230, 173);
}
.cart {
  background: rgb(156, 37, 21);
}
