* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  display: flex;
  background: lightblue; /* delete later */
  width: 90%;
  height: 10vh;
  margin: auto;
  align-items: center;
}
.logo-container,
.nav-links,
.cart {
  display: flex;
}
.logo-container {
  background: lightblue; /* delete later */
  flex: 1;
}

.logo {
  font-weight: 400;
  margin: 5px;
}
nav {
  background: rgb(189, 230, 173); /* delete later */
  flex: 2;
}
.nav-links {
  justify-content: space-around;
  list-style: none;
}
.nav-link {
  color: #5f5f79;
  font-size: 18px;
  text-decoration: none;
}
.cart {
  background: rgb(156, 37, 21); /* delete later */
  flex: 1;
  justify-content: flex-end;
}
.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}
.introduction {
  background: lightblue; /* delete later */
}
.cover img {
  height: 60vh;
}
